@font-face {
  font-family: Bujji;
  src: url("../../../public/Matroska.ttf");
}
.themes_width {
  width: 100%;
  text-align: center;
}
.single-viewbutton {
  color: white;
  font-family: bujji;
  font-weight: 900;
  font-size: 5px;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  background: linear-gradient(90deg, #d12d2d 46.26%, #1e149d 94.71%);
  -webkit-transition: background 2s ease-out; /* Safari */
  transition: background 2s ease-out;
}

.single-viewbutton:hover {
  background: transparent;
  border: 2px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, red, #1e149d);
}

.single-buttontext {
  color: white;
  font-family: "bujji";
  font-style: normal;
  font-size: 15px;
  display: flex;
  margin-block: 15px;
  margin-inline: 50px;

  justify-content: center;
  align-items: center;
  margin-top: 5%;
}

.single-event {
  margin: 70px;
}
.s1div {
  display: flex;
}

.s1adiv {
  background: transparent;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, red, #1e149d);
  float: left;

  box-sizing: border-box;
}
.s1bdiv {
  float: right;
  margin-left: 74px;
}

@media screen and (min-width: 669px) {
  .ibox2 p:nth-child(even) {
    display: none;
  }
}
@media screen and (min-width: 669px) {
  .ibox1 p:nth-child(odd) {
    display: none;
  }
}

.Posterimg {
  width: 360px;
  height: 450px;
  margin-top: 11px;
  padding: 13px;

  background: transparent;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, red, #1e149d);
}

.s1bdiv {
  float: right;
}

.s2div {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  justify-content: center;
  align-items: center;
}
.content-box {
  font-family: "Poppins";
  font-size: 22px;
  padding: 35px;
  text-align: justify;

  background: transparent;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, red, #1e149d);

  color: #b5b0b0;
}

.details-box {
  font-family: "Poppins";
  display: flex;
  justify-content: space-between;
  background: transparent;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, red, #1e149d);
  color: #b5b0b0;
}

.ibox1 p {
  margin-right: 190px;
}

.inside-box {
  /* width: 570px; */
  padding: 35px;
  justify-items: center;
}

.inside-box p {
  margin: 0;
  font-size: 22px;
  padding: 8px 0px;
}

.inside-box p span {
  font-weight: bold;
}

.single_vis {
  display: flex;
  justify-content: center;
  align-content: center;
}

body {
  background-color: black;
}

.event-title {
  margin-top: 80px;
  margin-bottom: 30px;
  font-family: bujji;
  font-size: 40px;
  align-items: center;
  text-align: center;

  color: #ffffff;
}
.eventdesc {
  /* margin-top: 50px; */
  margin-top: 30px;
  font-family: "Poppins";
  font-size: 22px;

  display: flex;
  align-items: center;

  color: #b5b0b0;
}
.details-event {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}
.details-title {
  margin-top: 20px;

  font-family: bujji;
  font-size: 22px;
  color: #ffffff;
}
.details-num {
  display: flex;
  color: #ffffff;
  justify-content: center;
  font-size: 22px;
  font-family: bujji;
  padding: 15px;
  padding-inline: 40px;
  width: 140px;

  background: transparent;
  border: 3px solid;
  border-image-slice: 1;
  border-image-source: linear-gradient(225deg, red, #1e149d);

  box-sizing: content-box;
}
.topic {
  font-family: bujji;
  font-size: 35px;
  display: flex;
  align-items: center;

  background: linear-gradient(99.32deg, #d12d2d 0%, #1e149d 119.64%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

@media screen and (max-width: 669px) {
  .single-event {
    margin: 20px;
  }

  .ibox1 p {
    margin-right: 0;
  }

  .ibox2 {
    display: none;
  }
  .s1div {
    justify-content: center;
    flex-wrap: wrap;
  }
  .s1adiv {
    width: 150px;
    height: 187.5px;
    margin-bottom: 20px;
  }
  .s1bdiv {
    margin: 0px;
  }

  .Posterimg {
    width: 135px;
    height: 170px;
    margin-bottom: 15px;
    padding: 5px;
    /* border: 1px solid; */
  }
  .event-title {
    font-size: 15px;
    margin: 31px 0px -12px 0;
  }
  .eventdesc {
    font-size: 10px;
    margin-top: 15px;
    text-align: center;
  }

  .details-event {
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
  }
  .details-title,
  .details-num {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .details-num {
    font-size: 10px;
    height: 42%;
    width: 110px;
    text-align: center;
    padding: 10px;
    /* border: 1px solid; */
  }
  .topic {
    font-size: 20px;
    justify-content: center;
  }

  .details-box {
    margin-top: 25px;
    padding: 8px 12px;
    flex-direction: column;
  }

  .inside-box {
    padding: 0;
  }

  .inside-box p {
    font-size: 10px;
  }

  .content-box {
    font-size: 10px;
    padding: 12px;
  }

  .single-viewbutton {
    width: 110px;
    height: 23px;
  }
  .single-buttontext {
    font-size: 9px;
    margin: 0px;
  }
}

@media only screen and (min-width: 669px) and (max-width: 1150px) {
  .single-event {
    margin: 20px;
  }

  .s1div {
    justify-content: center;
    margin-top: 0;
  }
  .s1adiv {
    width: 227px;
    height: 284.5px;
    margin-bottom: 20px;
  }
  .s1bdiv {
    margin-inline: 45px;
    margin-block: 25px;
  }

  .Posterimg {
    width: 243px;
    height: 331px;
    margin-top: 32px;
    margin-bottom: 15px;
    padding: 11px;
  }
  .event-title {
    font-size: 25px;
    margin: 31px 0px 12px 0;
  }
  .eventdesc {
    font-size: 14px;
    margin-top: 18px;
  }
  .details-event {
    max-width: 100%;
    flex-wrap: wrap;
    align-items: center;
  }
  .details-title,
  .details-num {
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 0px;
  }
  .details-num {
    font-size: 15px;
    height: 42%;
    width: 110px;
    text-align: center;
    padding: 10px;
    /* border: 1px solid; */
  }
  .topic {
    font-size: 25px;
  }

  .ibox1 p {
    margin-right: 90px;
  }

  .inside-box p {
    font-size: 14px;
  }

  .content-box {
    font-size: 14px;
    padding: 35px;
    line-height: 22px;
  }
}
